/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('animation.css');

/* GENERAL STYLING */

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;  
}

body {
    font-family: 'Poppins', sans-serif;
}

p {
    color: rgb(85, 85, 85);
}

section {
    padding-top : 4vh;
    height: 96vh;
    margin: 0;
    padding: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
    width: auto;
}

.section__heading {
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 100%;
}

/* PAGE TRANSITION EFFECT */

a, .btn {
    transition: all 300ms ease;
}

/* NAVBAR */

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    /* background: linear-gradient(90deg, cornflowerblue, skyblue); */
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.2rem;
}

.nav-links a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

.nav-links a:hover {
    color : cornflowerblue;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: cornflowerblue;
}

.logo {
    font-size: 1.75rem;
    letter-spacing: 0.25rem;
}

.logo:hover {
    cursor: default;
}

/* MOBILE NAV */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-thickness: 1px;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}
.hamburger-icon span:first-child {
    opacity: 1;
}
.hamburger-icon span:first-child {
    transform: none;
}

/* HERO SECTION */

#hero {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 85vh;
    /* background: linear-gradient(90deg, cornflowerblue, skyblue); */
}

.profile-pic {
    border-radius: 100%;
}

.hero__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
    padding: 20px;
    border: cornflowerblue 5px;
    border-style: dotted;
    border-radius: 100%;
    transition: all 0.5s ease-out;
    /* animation: profile-border 10s linear infinite; */
}


.hero__pic-container:hover {
    scale: 1.125;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    color: black;
}

.section__text__p1 {
    font-weight: 400;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 0.1rem;
}

.section__text__p2 {
    font-weight: 500;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 5rem;
    font-weight: 1000;
    text-align: center;
    background: -webkit-linear-gradient(0deg, #F43545, #FA8901, #FAD717, #00BA71, #00C2DE, #00418D, #5F2879
                                            , #00418D, #00C2DE, #00BA71, #FAD717, #FA8901, #F43545);
    background-size: 1200%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: text-gradient 45s linear infinite;
    transition: all 0.5s ease-out;
}

.title:hover {
    letter-spacing: .5rem;
    cursor: default;
}

/* BUTTON */

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 1.15rem;
    transition: all 300ms ease;
    padding: 1.2rem;
    width: 15rem;
    border-radius: 4rem;
}

.btn-icon {
    height: 1.15rem;
    margin: 5px;
}

.btn-color-1 {
    /* border: black 0.1rem solid; */
    border: black 0.1rem solid;
    background-color: transparent;
}

.btn-color-1:hover {
    cursor: pointer;
    /* background-color: black; */
    background-color: cornflowerblue;
    border-color: cornflowerblue;
    color: white;
}

/* ABOUT SECTION */

#about {
    background-color: cornflowerblue;
    width: 100%;
    height: 101vh;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pic-container__chibi-icon {
    display: flex;
    height: 300px;
    width: 300px;
    margin: auto 0;
    padding: 10px;
    background-color: white;
    border-radius: 100%;
    transition: all 1s ease;
}

.pic-container__chibi-icon:hover {
    scale: 1.125;
}

.chibi-img {
    display: block;
    border-radius: 100%;
}

.about-detail-container {
    padding: 5rem;
}

.about-container {
    padding-bottom: 0.5rem;
}

.about-container .section__text__p1 {
    color: black;
    text-align: left;
}

.about-container .section__text__p2 {
    color: white;
    text-align: left;
    font-size: 2rem;
}

.interested-field-container {
    display: flex;
    flex-direction: column;
}

.interested-field {
    display: flex;
}

.check-mark {
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    filter: invert(100%);
    align-self: center;
}

.section__text__list {
    display: inline-block;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    padding-left: 0.75rem;
}

/* EDUCATION SECTION */

#education {
    background-color: white;
    width: 100%;
    height: fit-content;
    color: black;
    display: flex;
    flex-direction: column;
    padding-right: 5rem;
    padding-left: 5rem;
    padding-bottom: 2rem;
}

.section__education {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
}

.education-box {
    background-color: rgb(33, 33, 33);
    border-radius: 1rem;
    width: fit-content;
    min-width: 30%;
    min-height: 20rem;
    display: flex;
    padding: 0.75rem;
    justify-content: space-around;
    flex-direction: column;
    transition: all 1s ease;
}

.education-box:hover {
    scale: 1.1;
}

.school-container {
    background-color: white;
    border-radius: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    width: 110px;
    height: 110px;
    padding: 5px;
    gap: 2rem;
    overflow: hidden;
}

.school {
    width: 110px;
    height: 110px;
}

.education-box .section__text__p2 {
    justify-content: center;
    align-self: center;
    margin: 0;
    color: white;
}

.education-box .section__text__p2:first-child {
    color: lightblue;
    font-weight: 700;
}

.education-box .section__text__p1 {
    color: lightgrey;
}

/* Skills section */

#skill {
    background-color: lightgrey;
}